* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #a510a5;
}

body {
  background-color: rgba(222, 206, 253, 0.862745098);
}

header {
  background-color: #ffd2fb;
}
header a {
  border-bottom: 1px solid #9b6ea8;
  border-radius: 4px;
  padding: 2px 2px 3px 2px;
}
header a h1 {
  color: #a510a5;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 4em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header a h1:hover {
  color: #7651da;
  transform: scale(1.05);
}
@media screen and (max-width: 575px) {
  header a h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 415px) {
  header a h1 {
    font-size: 2em;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .navbar-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 575px) {
  nav .navbar-index {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
}
nav .navbar-index .inicio {
  color: #7651da;
  font-weight: bold;
}
nav .navbar-index .navlista {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
nav .navbar-index .navlista:hover {
  transform: scale(1.05);
  color: #a510a5;
}

.boton {
  background: #8663e6;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  padding: 8px 15px;
}
.boton:hover {
  background-color: #f894da;
  color: #dfdfdf;
}

.boton-servicio {
  border-top: 1px solid #a510a5;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenedor-boton {
  margin-top: 20px;
  gap: 5px;
}
.contenedor-boton input {
  margin: 5px 5px;
  width: 100%;
  background: #8663e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  padding: 8px 15px;
}
.contenedor-boton input:hover {
  background-color: #f894da;
  color: #dfdfdf;
}

footer {
  padding: 1rem;
  background-color: #ffd2fb;
  border-top: 1px solid #9b6ea8;
}
footer .footer-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
footer .footer-redes a {
  color: #a510a5;
}
footer .footer-redes .footer-copyright {
  color: #616161;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.formulario-contenedor {
  padding: 30px;
  width: 380px;
  height: auto;
  margin: auto;
  font-family: "calibri";
  color: #dfdfdf;
  background: #c8bbeb;
  border-radius: 97% 3% 97% 3%/2% 97% 3% 98%;
}
.formulario-contenedor h2 {
  text-align: center;
  padding-bottom: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #3f3f3f;
}
.formulario-contenedor label {
  color: #616161;
  letter-spacing: 1px;
  padding: 0.5rem;
}
.formulario-contenedor .input {
  width: 100%;
  background: #ffe0ff;
  padding: 10px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 2px solid rgb(155, 110, 168);
  border-radius: 4px;
  font-size: 18px;
}

.contenedor-turnos {
  margin-top: 15px;
}
.contenedor-turnos .input-checkbox {
  width: 50%;
  margin: 2px;
  background: rgba(134, 99, 230, 0.144);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #dfdfdf;
}
.contenedor-turnos .input-checkbox:hover {
  background-color: rgb(248, 148, 218);
  color: #dfdfdf;
}

.select-box {
  padding: 0.3rem;
  border: none;
  border-bottom: 2px solid #9b6ea8;
  width: 100%;
  border-radius: 4px;
  background: #ffe0ff;
}
.select-box option {
  color: #616161;
}

.banner-encabezado {
  background-color: #2e2a2a;
  padding: 3rem;
}
.banner-encabezado h2 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #dfdfdf;
  font-size: xx-large;
}
.banner-encabezado h3 {
  text-align: center;
  color: #dfdfdf;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
}

.titulo-encabezado {
  text-align: center;
}
.titulo-encabezado h2 {
  color: #7651da;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.presentacion-page {
  padding: 1.5rem;
  background-color: rgba(181, 170, 219, 0.9607843137);
}
.presentacion-page .carousel-inner {
  border-radius: 10px;
}
.presentacion-page .presentacion-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.presentacion-page .presentacion-info h3 {
  margin: 20px 20px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.presentacion-page .presentacion-info p {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.presentacion-page .presentacion-info iframe {
  border-radius: 10px;
}

.publicidad-servicios {
  text-align: center;
}
.publicidad-servicios article {
  padding: 0.25rem;
}
.publicidad-servicios article h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #a510a5;
  font-size: x-large;
}
.publicidad-servicios article h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
}
.publicidad-servicios article p {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: medium;
  padding: 0.5rem;
}

.contenedor-servicios {
  padding: 3rem;
  background-color: #d0d5e6;
}
.contenedor-servicios h4 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0.5rem;
  color: #616161;
}
.contenedor-servicios a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.contenedor-servicios a:hover {
  transform: scale(1.05);
}

.introduccion-guapas {
  padding: 3rem;
  background-color: #2e2a2a;
}
.introduccion-guapas h3 {
  text-align: center;
  color: #dfdfdf;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.introduccion-guapas h4 {
  text-align: center;
  color: #dfdfdf;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.introduccion-guapas .contenedor-parrafo {
  margin-top: 15px;
  display: flex;
  align-items: center;
  text-align: center;
}
.introduccion-guapas .contenedor-parrafo p {
  display: flex;
  align-items: center;
  text-align: center;
  color: #dfdfdf;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
}

.publicidad-marcas {
  background-color: rgba(192, 168, 241, 0.862745098);
}
.publicidad-marcas div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.publicidad-marcas div h3 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xx-large;
}

.contenedor-turno {
  padding: 3rem;
  background-color: #ffd2fb;
}
.contenedor-turno article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.contenedor-turno article h2 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
  padding: 1rem;
  color: #a510a5;
}
.contenedor-turno article p {
  text-align: center;
}
.contenedor-turno article div {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.turno-horario {
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.turno-advertencia {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.turno-info {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
  font-weight: bold;
}

.contenedor-manicure {
  background-color: #e6c8ca;
}
.contenedor-manicure p {
  text-align: center;
  color: #3f3f3f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contenedor-pedicure {
  background-color: #b4c7c1;
}
.contenedor-pedicure p {
  text-align: center;
  color: #3f3f3f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contenedor-esmaltados {
  background-color: #d6c8ba;
}
.contenedor-esmaltados p {
  text-align: center;
  color: #3f3f3f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contenedor-otros--servicios {
  background-color: #bccefb;
}
.contenedor-otros--servicios p {
  text-align: center;
  color: #3f3f3f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.servicios {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.contenedor-promo-1 {
  padding: 1.5rem;
  background-color: #e7dfd4;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.contenedor-promo-1:hover {
  transform: scale(1.01);
}

.contenedor-promo-2 {
  padding: 1.5rem;
  background-color: #e67373;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.contenedor-promo-2:hover {
  transform: scale(1.01);
}

.titulo-promo-1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: xx-large;
}

.titulo-promo-2 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: x-large;
}

.parrafo-promo {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
}

.promocion-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.promo-advertencia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.promo-advertencia span {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contenedor-contacto {
  background-color: rgba(181, 170, 219, 0.9607843137);
  padding: 3rem;
}
.contenedor-contacto .iframe-map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contenedor-contacto .iframe-map iframe {
  border-radius: 5px;
}

/*# sourceMappingURL=styles.css.map */
