@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-text {
    display: flex;
    align-items: center;
    text-align: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-end{
    display: flex;
    justify-content: end;
    flex-direction: row;
}