@mixin flexible ($dis, $direccion, $just, $align) {
    display: $dis;
    flex-direction: $direccion;
    justify-content: $just;
    align-items: $align;
}

@mixin flex-text {
    display: flex;
    align-items: center;
    text-align: center;
}

@mixin mobile ($medida) {
    @media screen and (max-width: $medida) {
        @content;
    }
}