$color-gris: #d0d5e6;
$color-gris-2: #decefddc;
$color-gris-3: #616161;
$color-gris-4: #3f3f3f;
$color-violeta: #c0a8f1dc;
$color-violeta-2: #b5aadbf5;
$color-violeta-3: #7651da;
$color-violeta-4: #a510a5;
$color-violeta-5: #7752da;
$color-violeta-6:  #8663e6;
$color-rosa: #ffd2fb;
$color-rosa-2: #d429c6;
$color-rosa-3: #a510a5;
$color-rosa-4: #f894da;
$color-rosa-5: #9b6ea8;
$color-rosa-6: #ffe0ff;
$color-rojo: #e67373;
$color-crema: #e7dfd4;
$color-negro: #2e2a2a;
$color-blanco: #dfdfdf;
$color-rosedal: #d6c8ba;
$color-azulado: #bccefb;
$color-rosaclaro: #e6c8ca;
$color-verdeazulado: #b4c7c1;

$font-family: Georgia, 'Times New Roman', Times, serif;
$font-family2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-family3: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$font-size-s: small;
$font-size-m: medium;
$font-size-l: x-large;
$font-size-xl: xx-large;

$p-1: 0.25rem;
$p-2: 0.5rem;
$p-3: 1rem;
$p-4: 1.5rem;
$p-5: 3rem;