.contenedor-contacto {
    background-color: $color-violeta-2;
    padding: 3rem;

    & .iframe-map {
        @include flexible(flex, row, center, center);
        & iframe {
            border-radius: 5px;
        }
    }
}
