.contenedor-contacto {
    background-color: $bg-color-violeta2;
    padding: 3rem;

    & .iframe-map {
        @include flex-center();
        & iframe {
            border-radius: 5px;
        }
    }
}
