.titulo-encabezado {
    text-align: center;
    

    & h2 {
        color: $color-violeta-3;
        font-family: $font-family;
        font-size: $font-size-xl;
        font-weight: bold;
        text-shadow: 4px 4px 2px $color-violeta;
    }
}

.presentacion-page {
    padding: $p-4;
    background-color: $color-violeta-2;

    & .carousel-inner {
        border-radius: 10px;
    }

    .presentacion-info {
        @include flexible (flex, column, center, center);
        padding: $p-4;

        & h3 {
            margin: 20px 20px;
            text-align: center;
            font-family: $font-family
        }

        & p {
            text-align: center;
            font-family: $font-family2
        }

        & iframe {
            border-radius: 10px;
        }
    }
}

.publicidad-servicios {
    text-align: center;
    background-color: $color-rosa-transp;
    border: 1px solid $color-violeta-4;
    border-radius: 20px;

    & article h2 {
        font-family: $font-family2;
        color: $color-violeta-4;
        font-size: $font-size-l;
        padding-top: $p-3;
    }

    & article h3 {
        font-family: $font-family2;
        font-size: $font-size-m;
    }

    & article p {
        font-style: italic;
        font-family: $font-family;
        font-weight: bold;
        font-size: $font-size-m;
        padding: $p-2;
    }
}

.contenedor-servicios {
    padding: $p-5;
    background-color: $color-gris;

    & h4 {
        text-align: center;
        font-family: $font-family;
        padding: $p-2;
        color: $color-gris-3;
    }

    & a {
        @include flexible(flex, row, center, center);
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.introduccion-guapas {
    padding: $p-5;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/denim.png);

    & h3 {
        text-align: center;
        color: $color-blanco;
        font-family: $font-family;
    }
    & h4 {
        text-align: center;
        color: $color-blanco;
        font-family: $font-family;
    }
    .contenedor-parrafo {
        margin-top: 15px;
        @include flex-text();
        & p {
            @include flex-text();
            color: $color-blanco;
            font-family: $font-family2;
            font-size: $font-size-s;
        }
    }
}

.publicidad-marcas {
        background-color: $color-violeta;
        & div {
            @include flexible(flex, row, center, center);
            padding: $p-4;
            & h3 {
                text-align: center;
                font-family: $font-family3;
                font-size: $font-size-xl;
            }
        }
}