.titulo-encabezado {
    text-align: center;

    & h2 {
        color: $text-color-violeta;
        font-family: $font-family
    }
}

.presentacion-page {
    padding: $p-4;
    background-color: $bg-color-violeta2;

    & .carousel-inner {
        border-radius: 10px;
    }

    .presentacion-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $p-4;

        & h3 {
            margin: 20px 20px;
            text-align: center;
            font-family: $font-family
        }

        & p {
            text-align: center;
            font-family: $font-family2
        }

        & iframe {
            border-radius: 10px;
        }
    }
}

.publicidad-servicios {
    text-align: center;

    & article {
        padding: $p-1;
    }

    & article h2 {
        font-family: $font-family2;
        color: $text-color-violeta2;
        font-size: $font-size-l;
    }

    & article h3 {
        font-family: $font-family2;
        font-size: $font-size-m;
    }

    & article p {
        font-style: italic;
        font-family: $font-family;
        font-weight: bold;
        font-size: $font-size-m;
        padding: $p-2;
    }
}

.contenedor-servicios {
    padding: $p-5;
    background-color: $bg-color-gris;

    & h4 {
        text-align: center;
        font-family: $font-family;
        padding: $p-2;
        color: $text-color-gris;
    }

    & a {
        @include flex-center();
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.introduccion-guapas {
    padding: $p-5;
    background-color: $bg-color-negro;

    & h3 {
        text-align: center;
        color: $text-color-blanco;
        font-family: $font-family;
    }
    & h4 {
        text-align: center;
        color: $text-color-blanco;
        font-family: $font-family;
    }
    .contenedor-parrafo {
        margin-top: 15px;
        @include flex-text();
        & p {
            @include flex-text();
            color: $text-color-blanco;
            font-family: $font-family2;
            font-size: $font-size-s;
        }
    }
}

.publicidad-marcas {
        background-color: $bg-color-violeta;
        & div {
            @include flex-center();
            padding: $p-4;
            & h3 {
                text-align: center;
                font-family: $font-family3;
                font-size: $font-size-xl;
            }
        }
}