.contenedor-promo-1 {
    padding: 1.5rem;
    background-color: $color-crema;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
        transform: scale(1.01);
    }
}


.contenedor-promo-2 {
    padding: 1.5rem;
    background-color: $color-rojo;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
        transform: scale(1.01);
    }
}

.titulo-promo-1 {
    text-align: center;
    font-family: $font-family2;
    font-size: $font-size-xl;
}

.titulo-promo-2 {
    text-align: center;
    font-family: $font-family2;
    font-size: $font-size-l;
}

.parrafo-promo {
    text-align: center;
    font-family: $font-family2;
    font-size: $font-size-m;
}

.promocion-descripcion {
    @include flexible(flex, column, center, center);
    padding: 1.5rem;
}

.promo-advertencia {
    @include flexible(flex, row, center, center);

    & span {
        text-align: center;
        font-family: $font-family3;
    }
}