.contenedor-manicure{
    background-color: $color-rosaclaro;
    & p {
        text-align: center;
        color: $color-gris-4;
        font-family: $font-family3;
    }
}
.contenedor-pedicure{
    background-color: $color-verdeazulado;
    & p {
        text-align: center;
        color: $color-gris-4;
        font-family: $font-family3;
    }
}
.contenedor-esmaltados{
    background-color: $color-rosedal;
    & p {
        text-align: center;
        color: $color-gris-4;
        font-family: $font-family3;
    }
}
.contenedor-otros--servicios{
    background-color: $color-azulado;
    & p {
        text-align: center;
        color: $color-gris-4;
        font-family: $font-family3;
    }
}

.servicios{
    padding: $p-5;
    @include flexible(flex, column, center, center);
    align-items: center;
}