.contenedor-manicure{
    background-color: $bg-color-rosaclaro;
    & p {
        text-align: center;
        color: $text-color-gris2;
        font-family: $font-family3;
    }
}
.contenedor-pedicure{
    background-color: $bg-color-verdeazulado;
    & p {
        text-align: center;
        color: $text-color-gris2;
        font-family: $font-family3;
    }
}
.contenedor-esmaltados{
    background-color: $bg-color-rosedal;
    & p {
        text-align: center;
        color: $text-color-gris2;
        font-family: $font-family3;
    }
}
.contenedor-otros--servicios{
    background-color: $bg-color-azulado;
    & p {
        text-align: center;
        color: $text-color-gris2;
        font-family: $font-family3;
    }
}

.servicios{
    padding: $p-5;
    @include flex-column();
    align-items: center;
}