.boton {
    background: $color-violeta-6;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    padding: 8px 15px;

    &:hover {
        background-color: $color-rosa-4;
        color: $color-blanco;
    }
}

.boton-servicio {
    border-top: 1px solid $color-rosa-3;
    padding: $p-2;
    @include flexible(flex, row, center, center);
}

.contenedor-boton {
    margin-top: 20px;
    gap: 5px;

    & input {
        margin: 5px 5px;
        width: 100%;
        background: $color-violeta-6;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        color: white;
        padding: 8px 15px;

        &:hover {
            background-color: $color-rosa-4;
            color: $color-blanco;
        }
    }
}