footer{
    padding: 1rem;
    background-color: $color-rosa-transp;
    border-top: 1px solid $color-rosa-5;

    & .footer-redes{
        @include flexible(flex, row, center, center);
        gap: 5px;

        & a {
            color: $color-violeta-4;
        }

        & .footer-copyright{
            color: $color-gris-3;
            font-family: $font-family3;
        }

    }
}

