nav {
    @include flexible(flex, column, center, center);

    & .navbar-index {
        @include flexible(flex, column, center, center);

        @include mobile (575px) {
            @include flexible(flex, row, end, center)
        }

        & .inicio {
            color: $color-violeta-3;
            font-weight: bold;
        }

        & .navlista {
            cursor: pointer;
            transition: all 0.3s ease 0s;

            &:hover {
                transform: scale(1.05);
                color: $color-violeta-4;
            }
        }

        & div {
            border-top: 1px solid $color-rosa-5;
            border-radius: 4px;
        }
    }
}