* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: rgb(165, 16, 165);
}
body {
    background-color: $bg-color-gris2;
}
